HBox{
    -fx-padding: 5;
}

HBox > *{
    -fx-border-radius: 5;
    -fx-border-color: gray;
    -fx-padding: 5;
}

#ChatPane{
    -fx-border-radius: 5 0 0 5;
    -fx-border-width: 2 1 2 2;
}

#UserPane{
    -fx-border-radius: 0 5 5 0;
    -fx-border-width: 2 2 2 1;
}

#TextField{
    -fx-border-color: gray;
}

MenuItem{
    -fx-alignment: center;
}

.Button{
    -fx-background-color: lightgray;
    -fx-border-width: 1;
    -fx-border-color: gray;
}

.MessageCell{
    -fx-border-width: 0;
    -fx-background-color: inherit;
    -fx-border-color: transparent;
}